# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Mocha test results
test-results.xml

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Grunt working storage
.grunt
